//- src/views/modules/roadmap/roadmap.pug
|
|
section#roadmap.roadmap 
  |
  |
  .cntr
    |
    | 
    .roadmap__left
      h2.h2 Roadmap
      p We are positioning ourselves as a gaming-experience provider that will build a complex one-stop platform for in-house developed games, third-party casino operators, e-sports, on-chain events betting, collaboration games developed via our Launchpad program, and much more.
      p Apart from developing games and mobile applications, Ondas will be experimenting with on-chain solutions to give players the option to test ongoing technological innovations in the gaming industry brought forward and voted on by the community. 
      a(href="#" download).btn Read the whitepaper
    |
    |
    .roadmap__right
      |
      |
      .way
        |
        |
        .way__item
          .way__date 
            span 2019/
            br
            span 2020  
            span.red q1
            span /
            span.red q2
          .way__circle
          ul.way__list
            li 1. Completed various case studies with real world companies and service products to identify the exact problems and resultant needs within the ecosystem.
        |
        |
        .way__item
          .way__date
            span 2020 
            br
            span.red q3
          .way__circle
          ul.way__list
            li 2. Development of Phase 1 architecture and software solutions platform.
        |
        |
        .way__item
          .way__date
            span 2020 
            br
            span.red q4
          .way__circle
          ul.way__list
            li 3. Finalized the Whitepaper and protocol presentation site.
            li 4. Private sale.
            li 5. Community growth marketing campaign launch.
            li 6. Token Sale.
        |
        |
        .way__item
          .way__date
            span 2021  
            br
            span.red q1
            span /
            span.red q2
          .way__circle
          ul.way__list
            li 7. Launch of liquidity pools, Ondas Token mining, and staking inside Vaults.
            li 8. Launch of decentralized NFT Marketplace.
            li 9. Launch of first Marketplace Games.
            li 10. Launch of first NFT prizes.
        |
        |
        .way__item
          .way__date
            span 2021  
            br
            span.red q3
            span /
            span.red q4
          .way__circle
          ul.way__list
            li 11. Launch of Lending and Borrowing Services.
            li 12. Launch of the Governance Platform and voting website.
            li 13. Proposals and votes for the first external MarketplacedApps.
            li 14. Continuous launch of in-house games.
            li 15. Launch of Mobile App and Visa Card.
        |
        |
      |
      |
    |
    |
  |
  |
|
|