//- src/views/modules/roadmap/roadmap.scss

.roadmap {
  background-image: url('/src/assets/svg/roadmap_bg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  // margin-top: -5px;
  min-height: 1024px;
  padding: 175px 0 175px;
  position: relative;
  z-index: 2;

  /*&::after {
    background-image: url('/src/assets/svg/roadmap_grdnt_bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    // height: 2422px;
    height: 2000px;
    left: 0;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 50%);
    width: 100%;
    z-index: 1;
  }*/

  &::after { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -50px;
    content: ''; 
    width: 10px;
    height: 10px;
    left: -50px; 
    pointer-events: none;
    position: absolute;  
    background: linear-gradient(50.77deg, rgba(0, 26, 255, 0) 75.82%, #1A00BB 182.86%);
    transform: rotate(-180deg); 
    box-shadow: 0px 0px 10000px 125px #1A00BB;
  }

  &::before { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -50px;
    content: ''; 
    width: 0px;
    height: 150px;
    right: -50px; 
    pointer-events: none;
    position: absolute;  
    background-image: linear-gradient(50.77deg, rgba(0, 26, 255, 0) 75.82%, rgba(255, 51, 137, 0.4) 182.86%);
    transform: rotate(-180deg); 
    box-shadow: 0px 0px 10000px 125px rgba(255, 51, 137, 0.4);
    background-color: rgba(255, 51, 137, 0.28);
    border-radius: 100%;
  }

  @media screen and(max-width: 1100px) {
    padding: 50px 0 50px;
  }

  // .roadmap__fragments
  &__fragments {
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 40px;
    transform: translate(-84%, 0);
  }

  // .roadmap__left
  &__left {
    // background-color: #cecece;
    max-width: 440px;
    width: 100%;

    @media screen and(max-width: 1100px) {
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 32px;
    }
  }

  // .roadmap__right
  &__right {
    // background-color: pink;
    margin-left: 16px;

    @media screen and(max-width: 1050px) {
      margin-left: 0;
    }
  }

  .cntr {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 1050px) {
      justify-content: center;
    }
  }
}

.way {
  max-width: 100%;
  width: 555px;

  @media screen and(max-width: 640px) {
    width: 100%;
  }

  // .way__item
  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 64px;
    position: relative;

    @media screen and(max-width: 640px) {
      align-items: flex-start;
      flex-direction: column;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(odd) {
      margin-right: auto;

      @media screen and(max-width: 640px) {
        margin-right: 0;
      }
    }

    &:nth-of-type(even) {
      margin-left: auto;

      @media screen and(max-width: 640px) {
        margin-left: 0;
      }
    }

    &:nth-of-type(1) {
      max-width: 478px;

      @media screen and(max-width: 640px) {
        max-width: 100%;
      }

      .way__circle {
        &::after {
          background-image: url('/src/assets/svg/way_1.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 78px;
          left: 8px;
          position: absolute;
          top: 26px;
          width: 69px;
        }
      }
    }

    &:nth-of-type(2) {
      max-width: 482px;

      @media screen and(max-width: 640px) {
        max-width: 100%;
      }

      .way__circle {
        &::after {
          background-image: url('/src/assets/svg/way_2.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 90px;
          position: absolute;
          right: 4px;
          top: 26px;
          width: 80px;
        }
      }
    }

    &:nth-of-type(3) {
      max-width: 520px;

      @media screen and(max-width: 640px) {
        max-width: 100%;
      }

      .way__circle {
        &::after {
          background-image: url('/src/assets/svg/way_3.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 120px;
          left: 6px;
          position: absolute;
          top: 26px;
          width: 79px;
        }
      }
    }

    &:nth-of-type(4) {
      max-width: 482px;

      @media screen and(max-width: 640px) {
        max-width: 100%;
      }

      .way__circle {
        &::after {
          background-image: url('/src/assets/svg/way_4.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 146px;
          position: absolute;
          right: 8px;
          top: 26px;
          width: 72px;
        }
      }
    }

    &:nth-of-type(5) {
      max-width: 524px;

      @media screen and(max-width: 640px) {
        max-width: 100%;
      }
    }
  }

  // .way__date
  &__date {
    flex-shrink: 0;
    letter-spacing: 0.08em;
    line-height: 15px;
    width: 45px;

    @media screen and(max-width: 640px) {
      // width: 40px;
      width: auto;

      br {
        display: none;
      }
    }

    .red {
      color: #ff3389;
    }
  }

  // .way__circle
  &__circle {
    background: linear-gradient(339.97deg, #005af6 31.15%, #00ccff 88.36%);
    border-radius: 100%;
    box-shadow: 0px 0px 24px #0089f9;
    flex-shrink: 0;
    height: 16px;
    margin: 0 22px;
    position: relative;
    width: 16px;
    z-index: 2;

    @media screen and(max-width: 640px) {
      margin: 16px 16px 16px 0;
    }

    &::before {
      background: linear-gradient(339.97deg, #005af6 31.15%, #00ccff 88.36%);
      border-radius: 100%;
      content: '';
      height: 28px;
      left: 50%;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 28px;
      z-index: -1;
    }

    &::after {
      @media screen and(max-width: 640px) {
        display: none;
      }
    }
  }

  // .way__list
  &__list {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.08em;
    line-height: 21px;
    list-style-type: none;

    /* li {
    } */
  }
}
