//- src/views/modules/roadmap/roadmap.pug
|
|
section#roadmap.roadmap 
  |
  |
  .cntr
    |
    | 
    .roadmap__left
      h2.h2 Roadmap
      p We are positioning ourselves as a gaming-experience provider that will build a complex one-stop platform for in-house developed games, third-party casino operators, e-sports, on-chain events betting, collaboration games developed via our Launchpad program, and much more.
      p Apart from developing games and mobile applications, Ondas will be experimenting with on-chain solutions to give players the option to test ongoing technological innovations in the gaming industry brought forward and voted on by the community. 
      a(href="#").btn Read the whitepaper
    |
    |
    .roadmap__right

    |
    |
  |
  |
|
|