//- src/views/modules/first-screen/first-screen.pug
|
|
section#first-screen.first-screen 
  |
  | 
  .first-screen__wrap-planets 
    |
    |
    img(src="assets/svg/first_screen_planets.svg", alt="").first-screen__planets
    |
    |
    img(src="assets/svg/first_screen_ship.svg", alt="" loading="lazy").first-screen__ship
    |
    |
  |
  |
  .cntr
    |
    | 
    .first-screen__text
      |
      |
      h1.h1 Ondas
      |
      |
      h2.h2 Make money with decentralized gaming
      |
      |
      p Earn crypto or trade multiple in game NFT assets with our specialized Social Circle program!
      |
      |
      .first-screen__wrap-btns
        |
        |
        a(href="#").btn Access Beta System
        |
        |
        a(href="#")#watch-video.btn 
          | Watch The Video
          <svg width="13" height="16" class="m-l-11">
            <use xlink:href="./assets/svg/svg_sprite.svg#btn-play"></use>
          </svg>
        |
        |
      |
      |
      a(href="#").link-white
        <svg width="16" height="17">
          <use xlink:href="./assets/svg/svg_sprite.svg#link-white-icon"></use>
        </svg>
        span whitepaper
      |
      |
      .small-text For a limited time only, Ondas is opening up its beta tester program to the community. Sign up today and receive access to our early game platform, which gives you daily prizes in the form of various crypto rewards.
      |
      |
    |
    |
  |
  |
|
|