//- src/views/modules/first-screen/first-screen.scss

.first-screen {
  background-image: url('/src/assets/svg/first_screen_bg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  min-height: 1024px;
  padding: 276px 0 86px;
  position: relative;
  z-index: 2;

  @media screen and(max-width: 640px) {
    min-height: auto;
    padding: 70px 0 120px;
  }

  @media screen and(max-width: 400px) {
    padding: 70px 0 70px;
  }

  // first-screen__text
  &__text {
    display: flex;
    flex-direction: column;
    max-width: 440px;

    .h1 {
      line-height: 88%;
    }

    .h2 {
      line-height: 110%;
      margin-bottom: 16px;
    }
  }

  // .first-screen__wrap-btns
  &__wrap-btns {
    margin-bottom: 20px;
    margin-top: 50px;

    @media screen and(max-width: 640px) {
      margin-top: 0px;
    }

    @media screen and(max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    .btn {
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
      margin-right: 12px;

      @media screen and(max-width: 500px) {
        margin-bottom: 12px;
        margin-right: 0px;
      }
    }
  }

  // .first-screen__wrap-planets
  &__wrap-planets {
    left: 0;
    max-width: 100%;
    min-height: 2000px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  // .first-screen__planets
  &__planets {
    left: 50%;
    max-width: none;
    position: absolute;
    top: -173px;
    transform: translate(-57.6%, 0);
    width: 1880px;
  }

  // .first-screen__ship
  &__ship {
    animation: first_ship 5s linear 0s infinite forwards;
    left: 38%;
    position: absolute;
    top: 370px;
  }

  .cntr {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 1000px) {
    }
  }

  p {
    margin-bottom: 32px;
  }

  .link-white {
    align-self: flex-start;
    margin-bottom: 160px;
    margin-left: 20px;

    @media screen and(max-width: 640px) {
      margin-bottom: 32px;
      margin-left: 0;
    }
  }

  .small-text {
    margin-top: auto;
    max-width: 552px;
    width: 552px;

    @media screen and(max-width: 640px) {
      max-width: 100%;
      width: 100%;
    }
  }
}
