//- src/views/modules/for-developers/for-developers.pug
include ../../mixins/list.pug
|
|
section#for-developers.for-developers 
  |
  |
  .cntr
    |
    |  
    .for-developers__left.link-read-more__wrapper
      |
      |
      .for-developers__text
        |
        |
        h2.h2 For developers
        |
        |
        p Unless you’re already part of a big studio, getting your own game developed can be extremely difficult.
        |
        |
        p Not only is it hard work - there are also large financial barriers in place. No matter how great an idea may be, it’s often hard to get it kicked off without investing a large sum of money from your own pocket.
        |
        |
        .link-read-more__target
          p Not only is it hard work - there are also large financial barriers in place. No matter how great an idea may be, it’s often hard to get it kicked off without investing a large sum of money from your own pocket.
          p Not only is it hard work - there are also large financial barriers in place. No matter how great an idea may be, it’s often hard to get it kicked off without investing a large sum of money from your own pocket.
        |
        |
        +readMore('Read More')
        |
        |
      |
      |
      img(src="assets/svg/for-developers__img.svg", alt="", loading="lazy").for-developers__img
      |
      |
      .for-developers__img-caption
        | To learn more about the proposal and developer funding process, 
        a(href="#").link click here
      |
      |
      .for-developers__img-caption
        | To view the treasury pool, 
        a(href="#").link click here
      |
      |
    |
    |
    .for-developers__right
      |
      |
      img(src="assets/svg/dev-comet.svg", alt="", loading="lazy").dev-list__comet
      |
      |
      ul.dev-list
        |
        |
        li.dev-list__item
          |
          |
          .dev-triger
            .dev-triger__icon
              <svg width="33" height="37" >
                <use xlink:href="./assets/svg/svg_sprite.svg#dev-triger-1"></use>
              </svg>
            .dev-triger__title Draft your game proposal
            .dev-triger__text Make it exciting - gamers should want to play your game when they see your proposal!
          |
          |
        |
        |
        li.dev-list__item
          |
          |
          .dev-triger
            .dev-triger__icon
              <svg width="32" height="37" >
                <use xlink:href="./assets/svg/svg_sprite.svg#dev-triger-2"></use>
              </svg>
            .dev-triger__title Submit the game proposal
            .dev-triger__text Your proposal will then go through a decentralized voting process, where token holders shall vote on whether or not your proposal goes through.

          |
          |
        |
        |
        li.dev-list__item
          |
          |
          .dev-triger
            .dev-triger__icon
              <svg width="37" height="37" >
                <use xlink:href="./assets/svg/svg_sprite.svg#dev-triger-3"></use>
              </svg>
            .dev-triger__title If your proposal gets accepted
            .dev-triger__text Congratulations, most of the gaming community agrees that your game will be epic, which means that you will be provided with funds..
          |
          |
        |
        |
        li.dev-list__item
          |
          |
          .dev-triger
            .dev-triger__icon
              <svg width="45" height="33" >
                <use xlink:href="./assets/svg/svg_sprite.svg#dev-triger-4"></use>
              </svg>
            .dev-triger__title Once your game is ready
            .dev-triger__text The game will be integrated into the Ondas Universe, giving you access to a ready-made pool of excited players.
          |
          |
        |
        |
      |
      |
    |
    |
  |
  |
|
|