//- include ../modules/block-img/block-img.pug

.block-img
  h3 Красивая картинка
  .gallary
    img(src="/assets/images/first-screen__human.png", alt="")
    img(src="/views/modules/block-img/img/icon.png", alt="image",   loading="lazy")
    img(src="./img/sexy1.jpg", alt="sexy1", width="300" loading="lazy")
    img(src="../block-img/img/sexy2.jpg", alt="sexy2", width="300" loading="lazy")
     
  p Контент под картинкой
  p Это может быть совершенно разный контент
