extends ../templates/_template.pug

block title
  title Ondas

block basicSeo
  meta(name='description' content='Ondas - Make money with decentralized gaming')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content

  //- Page Index
  |
  |
  main.page-index
    |
    |
    include ../modules/about/about.pug
    |
    |
    include ../modules/for-players/for-players.pug
    |
    |
    include ../modules/for-investors/for-investors.pug
    |
    |
    include ../modules/for-developers/for-developers.pug
    |
    |
    include ../modules/ecosystem/ecosystem.pug 
    |
    |
    include ../modules/roadmap/roadmap.pug
    |
    |
    include ../modules/team/team.pug
    |
    |
  |
  |
  //- include ../components/breadcrumbs
  |
  | 
  //- include ../modules/block-img/block-img.pug
  |
  |
  //- <svg width="12" height="16">
  //-   <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  //- </svg>
  |
  |
