extends ../templates/_template.pug

block title
  title Ondas

block basicSeo
  meta(name='description' content='Ondas - Make money with decentralized gaming')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content

  //- Page Index
  |
  |
  main.page-index
    |
    |
    .cntr
      h1 Начальная страница
    |
    |
  |
  |
  // include ../components/breadcrumbs
  |
  |
  
  |
  |
  // include ../modules/block-img/block-img.pug
  |
  |
  // <svg width="12" height="16">
  //   <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  // </svg>
  |
  |
