extends ../templates/_template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Первая образовательная онлайн-платформа, созданная преподами!')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content

  //- Desktop page
  h1 Начальная страница
  |
  |
  include ../components/breadcrumbs
  |
  |
  
  |
  |
  include ../modules/block-img/block-img.pug
  |
  |
  <svg width="12" height="16">
    <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  </svg>
  |
  |
