//- src/views/modules/navigation/navigation.scss

.navigation {
  // .navigation__logo
  &__logo {
    flex-shrink: 0;
    max-height: 40px;
    max-width: 122px;
  }

  // .navigation__nav
  /* &__nav {
  } */

  // .navigation__a
  &__a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 180%;
    text-transform: uppercase;
    transition: color 0.3s;
    white-space: nowrap;

    &:hover {
      color: #00ccff;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .cntr {
    align-items: center;
    display: flex;
  }
}

.nav-btn {
  background-color: none;
  cursor: pointer;
  display: none;
  padding: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9;

  span {
    background-color: #ffffff;
    border-radius: 3px;
    flex-shrink: 0;
    height: 5px;
    opacity: 1;
    position: absolute;
    transition: all 0.3s;
    width: 40px;

    &:nth-of-type(1) {
      transform: translate(0, -12px);
    }
    /* &:nth-of-type(2) {
    } */
    &:nth-of-type(3) {
      transform: translate(0, 12px);
    }
  }

  @media screen and(max-width: 1050px) {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
}

.nav-btn.open {
  span {
    &:nth-of-type(1) {
      transform: translate(0, 0px) rotate(45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translate(0, 0px) rotate(-45deg);
    }
  }
}
