//- src/views/modules/header/header.pug
|
|
.navigation
  |
  |
  .cntr
    |
    |
    a(href="./" title="Ondas").navigation__logo 
      img(src="assets/svg/ondas_logo.svg", alt="" loading="lazy") 
      |
      |
    |
    |
    nav.navigation__nav
      a(href="#").navigation__a whitepaper
      |
      |
      a(href="#").navigation__a about
      |
      |
      a(href="#").navigation__a for players
      |
      |
      a(href="#").navigation__a for investors
      |
      |
      a(href="#").navigation__a for developers
      |
      |
      a(href="#ecosystem").navigation__a ecosystem
      |
      |
      a(href="#roadmap").navigation__a roadmap
      |
      |
      a(href="#team").navigation__a team   
    |
    |
  |
  |
|
|