//- src/views/modules/ecosystem/ecosystem.scss

.ecosystem {
  align-items: center;
  background-image: url('/src/assets/svg/ecosystem_bg_2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: -5px;
  min-height: 1024px;
  padding: 100px 0;
  position: relative;
  z-index: 1;

  @media screen and(max-width: 1000px) {
    margin-top: -10px;
  }

  @media screen and(max-width: 640px) {
    min-height: auto;
    padding: 70px 0 40px;
  }

  // .ecosystem__left
  /* &__left {
  } */

  // .ecosystem__right
  &__right {
    flex-shrink: 0;
    max-width: 440px;
    width: 100%;

    p {
      margin-bottom: 32px;
    }
  }

  // .ecosystem__img
  &__img {
    // transition: all 0.3s;
    animation: ecosystem 15s linear 0s infinite forwards;
  }

  .cntr {
    align-items: center;
    display: flex;
    flex-shrink: 0;

    @media screen and(max-width: 1000px) {
      flex-direction: column;
    }
  }

  .h2 {
    @media screen and(max-width: 640px) {
      font-size: 34px;
      line-height: 1.65;
      margin-bottom: 30px;
    }
  }
}
