//- src/views/modules/ecosystem/ecosystem.pug
|
|
section#ecosystem.ecosystem 
  |
  |
  .cntr
    |
    |  
    .ecosystem__left 
      img(src="assets/svg/ecosystem_img.svg", alt="", loading="lazy").ecosystem__img
    |
    |
    .ecosystem__right.link-read-more__wrapper
      |
      |
      h2.h2 Ondas Ecosystem
      |
      |
      p The Ondas ecosystem, powered by our native token, is designed to automatically invest a portion of each platform payout to liquidity pools for predefined periods. This creates buying pressure (via the autobuy system) and scarcity (as circulating supply is reduced by the token lock), thus adding support to the token market.
      |
      |
      .link-read-more__target
        p The Ondas ecosystem, powered by our native token, is designed to automatically invest a portion of each platform payout to liquidity pools for predefined periods. This creates buying pressure (via the autobuy system) and scarcity (as circulating supply is reduced by the token lock), thus adding support to the token market.
        p The Ondas ecosystem, powered by our native token 
      |
      |
      .link-read-more
        span.link-read-more__text Read More 
        <svg width="10" height="7" class="link-read-more__arrow">
          <use xlink:href="./assets/svg/svg_sprite.svg#arr-bottom"></use>
        </svg> 
      |
      |
    |
    |
  |
  |
|
|