//- src/views/modules/for-players/for-players.scss

.for-players {
  align-items: center;
  background-image: url('/src/assets/svg/for-players_bg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  // margin-top: -2px;
  min-height: 1024px;
  padding: 160px 0;
  position: relative;

  &::before { 
    //background-image: radial-gradient(
    //  699.19% 561.32% at 85.84% 25.65%,
    //  rgba(11, 2, 56, 0) 9.9%,
    //  #e6217f 29.68%
    //);
    // background-image: linear-gradient(0deg, #ff3389 -700%, #14043b 85%);
    background-image: linear-gradient(0deg, rgba(255, 51, 137, 0.2) 0%, transparent 25%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    content: '';
    // height: 2422px;
    height: 100%; 
    left: 0; 
    right: 0;
    pointer-events: none;
    position: absolute;
    width: 100%; 
    z-index: 2;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &::after { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -50px;
    content: ''; 
    width: 10px;
    height: 10px;
    left: -50px; 
    pointer-events: none;
    position: absolute;  
    background: linear-gradient(50.77deg, rgba(0, 26, 255, 0) 75.82%, #1A00BB 182.86%);
    transform: rotate(-180deg); 
    box-shadow: 0px 0px 10000px 125px #1A00BB;
  }

  @media screen and(max-width: 1000px) {
    padding: 70px 0 40px;
  }

  @media screen and(max-width: 640px) {
    min-height: auto;
  }

  // .for-players__left
  &__left {
    max-width: 440px;
    position: relative;

    @media screen and(max-width: 1000px) {
      margin-bottom: 60px;
    }

    p {
      margin-bottom: 32px;
    }
  }

  // .for-players__right
  &__right {
    max-width: 470px;
  }

  .cntr {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 1000px) {
      justify-content: center;
    }
  }
}

.games-list {
  display: flex;
  flex-direction: column;

  // .games-list__item
  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    position: relative;

    @media screen and(max-width: 640px) {
      align-items: flex-start;
      flex-direction: column;
    }

    &:nth-of-type(1) {
      .games-list__way {
        left: 88px;
        top: 180px;
      }
    }

    &:nth-of-type(2) {
      .games-list__way {
        left: 68px;
        top: 172px;
      }
    }
  }

  // .games-list__wrap-svg
  &__wrap-svg {
    width: 200px;
  }

  // .games-list__svg
  /* &__svg {
  } */

  // .games-list__text
  &__text {
    max-width: 270px;
    width: 100%;

    @media screen and(max-width: 640px) {
      max-width: 100%;
    }
  }

  // .games-list__way
  &__way {
    position: absolute;

    @media screen and(max-width: 640px) {
      display: none;
    }
  }
}

.for-players__plane {
  bottom: -270px;
  height: 570px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translate(320px, 0);
  width: 486px;
  z-index: 2;

  @media screen and(max-width: 1000px) {
    transform: translate(160px, 0);
  }

  @media screen and(max-width: 640px) {
    display: none;
  }

  .big-planet {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .small-planet {
    display: none;
    left: 270px;
    position: absolute;
    top: 0;
  }
  .ship {
    bottom: -160px;
    left: -120px;
    position: absolute;
    transform: scale(1.3);
  }
}
