//- src/views/modules/for-players/for-players.pug
include ../../mixins/list.pug
|
|
section#for-players.for-players 
  |
  | 
  .for-players__plane
    //- img(src="assets/svg/for-players_big_planet.svg", alt="" loading="lazy").big-planet
    img(src="assets/svg/for-players_small_planet.svg", alt="" loading="lazy").small-planet
    img(src="assets/svg/for-players_ship.svg", alt="" loading="lazy").ship
  |
  |
  .cntr
    |
    |
    .for-players__left  
      | 
      |
      h2.h2 For players
      |
      |
      p Ondas elevates your gaming experience to a more exciting level. You already know the thrill of getting a headshot in Call of Duty, or scoring a goal in Rocket League. What if the items you won in games could be sold for real money? 
      |
      |
      p Ondas games bring a brand new experience to what you know & love about gaming, integrating a state of the art NFT asset trading platform.
      |
      |
      a(href="#").btn Access Beta System
      |
      |
    |
    |
    .for-players__right
      |
      |
      .games-list
        |
        |
        .games-list__item
          |
          |
          .games-list__wrap-svg
            img(src="assets/svg/games_img_1.svg", alt="" loading="lazy").games-list__svg
          |
          |
          .games-list__text Play games and win prizes
          |
          |
          img(src="assets/svg/games_img_1_way.svg", alt="" loading="lazy").games-list__way
          |
          |
        |
        |
        .games-list__item
          |
          |
          .games-list__wrap-svg
            img(src="assets/svg/games_img_2.svg", alt="" loading="lazy").games-list__svg
          |
          |
          .games-list__text Vote for games and earn rewards
          |
          |
          img(src="assets/svg/games_img_2_way.svg", alt="" loading="lazy").games-list__way
          |
          |
        |
        |
        .games-list__item
          |
          |
          .games-list__wrap-svg
            img(src="assets/svg/games_img_3.svg", alt="" loading="lazy").games-list__svg
          |
          |
          .games-list__text Build your Social Circle and win together with your friends
          |
          |
        |
        |
      |
      |
    |
    |
  |
  |
|
|