//- src/views/modules/team/team.pug
|
|
section#team.team 
  |
  |
  .cntr
    |
    |
    img(src="assets/svg/team_planet.svg", alt="", loading="lazy").team__planet
    |
    |
    img(src="assets/svg/team_satellite.svg", alt="", loading="lazy").team__satellite
    |
    |
    img(src="assets/svg/team_comet_1.svg", alt="", loading="lazy").team-comet-left-1
    |
    |
    img(src="assets/svg/team_comet_2.svg", alt="", loading="lazy").team-comet-left-2
    |
    |
    img(src="assets/svg/team_comet_3.svg", alt="", loading="lazy").team-comet-right-1
    |
    |
    img(src="assets/svg/team_comet_4.svg", alt="", loading="lazy").team-comet-right-2
    |
    |
    h2.h2 The team
    |
    |
    ul.team-list
      |
      |
      li.team-list__item
        |
        |
        .team-cart
          |
          |   
          a(href="#").team-cart__wrap-img
            img(src="assets/images/photo_img.jpg", alt="" loading="lazy") 
            .team-cart__soc
              <svg width="14" height="15">
                <use xlink:href="./assets/svg/svg_sprite.svg#in"></use>
              </svg>
          .team-cart__title Todd Reiber
          .team-cart__text Todd is known for generating immediate returns. The diverse background in data analysis and strategic marketing has resulted in Todd’s outside the box thinking. 
          |
          |
        |
        |
      |
      |
      li.team-list__item
        |
        |
        .team-cart
          |
          | 
          a(href="#").team-cart__wrap-img
            img(src="assets/images/photo_img.jpg", alt="" loading="lazy") 
            .team-cart__soc
              <svg width="14" height="15">
                <use xlink:href="./assets/svg/svg_sprite.svg#in"></use>
              </svg>
          .team-cart__title Jason Kovar
          .team-cart__text Jason is the founder of Coin Spark Media and adviser and consultant to multiple crypto companies.  
          |
          |
        |
        |
      |
      |
      li.team-list__item
        |
        |
        .team-cart
          |
          | 
          a(href="#").team-cart__wrap-img
            img(src="assets/images/photo_img.jpg", alt="" loading="lazy") 
            .team-cart__soc
              <svg width="14" height="15">
                <use xlink:href="./assets/svg/svg_sprite.svg#in"></use>
              </svg>
          .team-cart__title Bogdan Pafi
          .team-cart__text Bogdan holds vast expertise in business negotiations, cryptocurrency investments, and business consulting in the public and private sectors.
          |
          |
        |
        |
      |
      |
    |
    |
  |
  |
|
|