/* src/assets/styles/common/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: #0b0238;
}

.footer {
  margin-top: auto;
}

.cntr {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;

  @media screen and(max-width: 1200px) {
    max-width: calc(100% - 32px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1 {
  font-weight: 800;
  font-size: 96px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.h2 {
  font-size: 40px;
  letter-spacing: 0.005em;
  line-height: 66px;
  // margin-bottom: 35px;
  margin-bottom: 18px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  transition: fill 0.3s, stroke 0.3s;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.btn {
  background-color: #260a67;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 18px 36px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 12px;
  line-height: 20;
  letter-spacing: 1px;
  color: #18d1ff;
  border-radius: 84px;
  box-sizing: border-box;
  text-decoration: none;
  height: 56px;
  overflow: hidden;

  &:hover {
    background-color: #18d1ff;
    color: #260a67;

    svg {
      fill: #260a67;
    }
  }

  svg {
    fill: #18aefc;
  }
}

.anime-planet {
  img {
    animation: around 60s linear 0s infinite forwards;
  }
}

.link-read-more {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;

  // .link-read-more__text
  &__text {
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  // .link-read-more__arrow
  &__arrow {
    margin-left: 8px;
  }

  &:hover {
    color: #18d1ff;
  }
}

.link-read-more__wrapper.open {
  .link-read-more__target {
    position: relative;
    opacity: 1;
    pointer-events: initial;
  }

  .link-read-more {
    display: none;
  }
}

.link-read-more__target {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.link {
  color: #18aefc;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.link-white {
  display: inline-flex;
  align-items: center;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;

  &:hover {
    color: #18aefc;
  }

  svg {
    margin-right: 12px;
    fill: #18aefc;
  }

  span {
    text-decoration-line: underline;
  }
}

.small-text {
  font-weight: bold;
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.m-l-11 {
  margin-left: 11px;
}
