@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

.hello {
  color: green;
  background: url('/src/assets/images/random-logo.jpg');
  font-family: 'TheBlacklist';
}

.hello2 {
  font-family: 'Langar', cursive;
}
