//- src/views/modules/footer/footer.scss

.footer {
  align-items: center;
  background-image: url('/src/assets/svg/footer_stars.svg'),
    linear-gradient(180deg, #ff3389 -368.25%, #14043b 100.05%);
  background-position: center center, center center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  display: flex;
  flex-direction: column;
  padding: 80px 0 32px;
  position: relative;

  // .footer__text
  &__text {
    margin-bottom: 23px;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  &::before {
    background: linear-gradient(
      180deg,
      rgba(0, 26, 255, 0) 34.62%,
      #1a00bb 583.13%
    );
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .navigation {
    // .navigation__logo
    &__logo {
      margin-bottom: 50px;
    }

    // .navigation__nav
    &__nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 32px;

      @media screen and(max-width: 900px) {
        flex-wrap: wrap;
      }
    }

    // .navigation__a
    &__a {
      margin: 0 16px 0;
    }

    .cntr {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  .anime-planet {
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-top: 150px;
    position: absolute;
    right: 0;
    top: 0;

    img {
      margin: 0 auto;
    }
  }

  .cntr {
    position: relative;
  }
}
